/Lesson5/nbproject/private/
/Lesson5/build/
/Lesson6/nbproject/private/
/Lesson6/build/
/Lesson6/dist/
/Lesson6Test/nbproject/private/
/Lesson6Test/build/
/MainTask1/nbproject/private/
/MainTask1/build/